.jumbotron {
  text-align: center;
}

h2 {
  text-align: center;
}

.section {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: grey;
  margin-top: 3em;
  margin-bottom: 3em;
}

.container iframe {
  margin: 0 auto;
  background-color: #777;
}

iframe {
  display: block;
  border-style: none;
}